@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/ProDisplay-light/SFProDisplay-Light.woff2') format('woff2'),
         url('fonts/ProDisplay-light/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/ProDisplay-regular/SFProDisplay-Regular.woff2') format('woff2'),
         url('fonts/ProDisplay-regular/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/ProDisplay-medium/SFProDisplay-Medium.woff2') format('woff2'),
         url('fonts/ProDisplay-medium/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/ProDisplay-semibold/SFProDisplay-Semibold.woff2') format('woff2'),
         url('fonts/ProDisplay-semibold/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #1F1F1F;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'SFProDisplay';
    font-weight: 400;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #FFF;
	text-decoration: underline;
}
a:hover {
	color: #FFF;
	text-decoration:none;
}
a:focus, a:active {
	color: #FFF;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
.header {
	overflow: hidden;
	background-image: url(../images/banner-header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding-bottom: 141px;
}

.header__bg {
	width: 100%;
	height: 1400px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #102143;
	z-index: -1;
}

.container {
	max-width: 1140px;
	overflow: hidden;
	margin:0 auto;
	padding: 0 20px;
}


.header__panel {
	background-color: #102143;
	opacity: 1;
}

.header__top {
	overflow: hidden;
	max-width: 1140px;
	margin:0 auto;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.headhesive {
	background-color: #102143;
	position: fixed;
	width: 100%;
	padding: 50px 0 5px 0;
	transition: 0.5s;
	opacity: 1;
	z-index: 9;
}

.headhesive--stick {
	padding: 15px 0;
}

.header__top-logo {
    flex-shrink: 0;
}

.header__top-block {
	display: flex;
	align-items: center;
}

.menu {

}

.menu__list {
	display: flex;
}

.menu__list-item {
	text-transform: uppercase;
	margin-right: 34px;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__link {
	text-decoration: none;
}

.menu__link:hover {
	text-decoration: none;
}

.block__language-call {
	display: flex;
	align-items: center;
	margin-left: 65px;
}

.language__item {
	margin-right: 20px;
	font-weight: 500;
}

.line {
	position: relative;
}

.line::after {
	content: '';
	position: absolute;
    background-color: #fff;
    width:2px;
    height: 16px;
    top: 2px;
    right: -11px;
}

.language__item-link {
	text-decoration: none;
}

.language__item-link:hover {
	text-decoration: none;
}

.button__call-link {
	margin-left: 30px;
	letter-spacing: 0.05em;
	font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #fff;
    height: 55px;
    width: 190px;
    text-align: center;
    padding-top: 17px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
}

.button__call-link:hover {
    text-decoration: none;
}

.popup {
	background-color: #fff;
	max-width: 400px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.popup__text {
	padding-top: 90px;
}

/* --------------- Mobile navigation button ----------- */

.menu__icon {
    position: relative;
    display: none;
	width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 5px -3px 0 0;
}

.menu__icon-line {
	position: relative;
	width: 24px;
	height: 2px;
	background-color: #fff;
	margin: 14px 0 0 5px;
}

.menu__icon-line::before {
	position: absolute;
	left: 0;
	top: -7px;
	content: '';
	width: 24px;
	height: 2px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu__icon-line::after {
	position: absolute;
	left: 0;
	top: 7px;
	content: '';
	width: 24px;
	height: 2px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu__icon.menu-icon-active .menu__icon-line {
	background-color: transparent;
}

.menu__icon.menu-icon-active .menu__icon-line::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu__icon.menu-icon-active .menu__icon-line::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* ----------------- Мобильная навигация ----------------- */
.mobile__nav {
    z-index: 99;
    display:block;
    position: absolute;
    position: fixed;
    width: 100%;
    padding: 35px 0 42px 15px;
    background-color:  #0C2758;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    top: -540px;
    left: -15px;
}

.mobile-nav--active {
  left: -15px;
  position: absolute;
  transform: translateY(604px);
}


.header__center {
   margin-top: 50px;
}

.header__carousel {

}

.hgroup {
	padding-top: 68px;
	padding-bottom: 75px;
	max-width: 575px;
}

.slider__top-paragraph {
	font-weight: 600;
	font-size: 3.125em;
	color: #fff;
	line-height: 1.3;
	margin-bottom: 30px;
}

.slider__top-text {
	font-size: 1.375em;
	line-height: 1.5;
	color: #fff;
}

.header__bottom {
	height: 140px;
	width: 60%;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
}

.header__bottom-brends {
}

.block__brends {
	margin-top: 58px;
	padding-left: 55px;
}

.codepen {
	padding-top: 9px;
}

.main {
	overflow: hidden;
	background-color: #fff;
}

.about {
	overflow: hidden;
	padding: 80px 20px 160px 20px;
	margin: 70px -20px 0 -20px;
}

.about__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.about__top-foto{
   width: 52.63%;
   flex-shrink: 0;
}

.about__foto {
   width: 100%;
}

.about__top-text {
	margin-top: 80px;
	width: 41.5%;
	overflow: hidden;
}

.main__paragraph {
	font-size: 3.125em;
	margin-left: -2px;
	margin-bottom: 30px;
}
.br{
	padding-right: 27px;
}

.main__text {
	font-weight: 300;
	font-size: 1.25em;
	margin-bottom: 14px;
	line-height: 1.3;
}

.more {
	margin-top: 30px;
}

a.main__more {
	position: relative;
	color: #0C2758;
	font-size: 1.25em;
	padding-right: 34px;
	background-image: url(../images/more-arrow.svg);
	background-repeat: no-repeat;
	background-position: right 11px;
	text-decoration: none;
}
a.main__more::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 1px;
	width: 100px;
	background-color: #0C2758;
}

.about__bottom {
	display: flex;
	justify-content: space-between;
}

.about__bottom-numbers {
	overflow: hidden;
	width: 22.98%;
	background-color: #fff;
	text-align: center;
	padding: 62px 0 57px 0;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.06);
}

.numbers__item {
	font-size: 3.125em;
}

.numbers__text {
	color: #8B8B8B;
	font-weight: 300;
}

.our__services {
    overflow: hidden;
	background-image: url(../images/bg-services.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding:72px 0 55px 0;
}

.our__services-block {
	overflow: hidden;
}

.main__paragraph-white {
	font-size: 3.125em;
	color: #fff;
	text-align: center;
}

.main__text-white {
	font-size: 1.25em;
	color: #fff;
	text-align: center;
	margin:28px 0 0 0;
	line-height: 1.5;
}

.block__services {
	overflow: hidden;
	margin: 72px 0 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section {
	width: 31.58%;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 50px 0 40px 0;
	text-align: center;

}

.services__section-img {
	margin-bottom: 5px;
}

.services__section-paragraph {
	font-weight: 500;
	font-size: 1.375em;
	margin-bottom: 20px;
}

.services__section-text {
	text-align: center;
	font-weight: 300;
	width: 57%;
	margin: 0 auto 20px auto;
	line-height: 1.5;
}

a.services__section-more {
	position: relative;
    color: #182868;
    font-size: 1em;
    text-decoration: none;
}

a.services__section-more::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 80px;
    background-color: #0C2758;
}

.services__mobile {
	display: none;
}

.block__services-mobile {
	display: none;
	padding-bottom: 35px;
	overflow: hidden;
	margin-top: 72px;
}

.about__company {
    padding: 150px 0 160px 0;
}

.about__company__block {
	overflow: hidden;
	display: flex;
    justify-content: space-between;
}

.about__company-text {
	width: 41.5%;
	overflow: hidden;
	padding-top: 88px;
}

.about__company-paragraph {
	font-size: 3.125em;
	margin-left: -2px;
	margin-bottom: 30px;
}

.about__text-iiko {
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.3;
	margin-bottom: 12px;
}

.iiko {
	margin-bottom: 40px;
}

.iiko-two {
	margin-bottom: 40px;
}

.about__company-slide {
	overflow: hidden;
	width: 52.63%;
}

.about__company-foto {
	height: 100%;
	width: 100%;
}


.advantage {
    overflow: hidden;
	background-image: url(../images/dvantage-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding:72px 0 100px 0;
}

.advantage__block {
	overflow: hidden;
}

.advantage__text {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 62px;
	margin-bottom: -37px;
	position: relative;
}

.advantage__text-section {
	overflow: hidden;
	width: 26.75%;
	margin-bottom: 35px;
}

.advantage__paragraph {
	font-size: 1.25em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.product__description {
	color: #fff;
	line-height: 1.5;
}

.advantage__text-section::before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 31.5%;
}

.advantage__text-section::after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	right: 32%;

}

.prices {
	overflow: hidden;
	padding: 105px 0 125px 0;
}

.prices__block {
	overflow: hidden;
	margin: 0 -20px; 
}

.prices__block-paragraph {
	font-size: 3.125em;
	text-align: center;
}

.prices__block-iiko {
	font-size: 1.25em;
	text-align: center;
	margin:28px 0 0 0;
	line-height: 1.5;
	margin-bottom: 32px;
}

.prices__block-products {
	overflow: hidden;
}

.tabs{
	display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tab-1 {
	border: 1px solid #0C2758;
	padding: 14px 33px 15px 33px;
	border-right: none;
	cursor: pointer;
}

.tab-2 {
	border: 1px solid #0C2758;
	padding: 14px 33px 15px 33px;
	cursor: pointer;
}

.active-tab {
	background-color: #0C2758;
	color: #fff;
}

.tab__content {
	overflow: hidden;
}

.tab-item-1 {
	overflow: hidden;
}

.prices__carousel{
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.prices__carousel:last-child, .prices__carousel:first-child{
	align-items: baseline;
}

.prices__carousel-slide {
	width: 31.58%;
	border-top: 3px solid #0C2758;
	padding: 60px 0 55px 0;
	overflow: hidden;
	margin-bottom: 40px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.06);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.prices__carousel-slide:last-child {
	margin-right: 0;
}

.name__prices {
	font-size: 1.375em;
	text-align: center;
	color: #0C2758;
	margin-bottom: 16px;
}

.unit__price {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 21px;
}

.prices__spisok {
    position: relative;
    padding-top: 43px;
    padding-left: 41px;
    list-style: none;
}

.prices__spisok::before {
	content: '';
	width: 80.5%;
	height: 1px;
	background-color: #E1E1E1;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 9.75% 0 9.75%;
}

.prices__spisok-item {
	line-height: 3.2;
	font-size: 0.9375em;
	background-image: url(../images/prices-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 13px;
	padding: 0 0 0 38px;
}

a.button__application {
    color: #0C2758;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #0C2758;
    padding: 17px 0;
    text-align: center;
    width: 190px;
    display: block;
    margin: 102px auto 0 auto;
    box-sizing: border-box;
}

a.button__application:hover {
	color: #0C2758;
	text-decoration: none;
}

a.button-center {
	margin-top: 85px;
	background-color:  #0C2758;
	color: #fff;
}

a.button-center:hover {
	color: #fff;
}

a.button-last {
	margin-top: 54px;
}

.tab-item-2 {
	overflow: hidden;
}

.questions {
    overflow: hidden;
	background-image: url(../images/bg-questions.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding:65px 0 52px 0;
}

.questions__block {
	overflow: hidden;
}

.questions__accordion {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	margin-top: 57px;
}

.questions__accordion-left{
	width: 48.42%;
}

.questions__accordion-right{
	width: 48.42%;
}

.open__text {
	padding-left: 25px;
}

.articles {
	overflow: hidden;
	padding: 140px 0 160px 0;
}

.articles__block {
	overflow: hidden; 
}

.articles__block-paragraph {
	font-size: 3.125em;
	text-align: center;
}

.articles__block-iiko {
	font-size: 1.25em;
	text-align: center;
	margin:28px 0 0 0;
	line-height: 1.5;
}

.articles__block-products {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 72px;
	margin-bottom: 75px;
}

.articles__section {
	width: 31.58%;
	padding-bottom: 2px;
}

.picture {
	max-height: 360px;
}

.section__foto {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section__paragraph {
	font-weight: 500;
	font-size: 1.375em;
	margin: 40px 0 16px 0;
}

.section__text {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 10px;
	width: 90%;
}

a.section__more {
	position: relative;
    color: #182868;
    padding: 0 31px 0 0;
    font-size: 1em;
    text-decoration: none;
    background-image: url(../images/more-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 8px;
}

a.section__more::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 80px;
    background-color: #0C2758;
}

a.article__button {
    color: #0C2758;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #0C2758;
    padding: 17px 0;
    text-align: center;
    width: 190px;
    display: block;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}

.footer {
	background: #0C2758;
	padding: 50px 0 40px 0;
}

.footer__block {
	display: flex;
	justify-content: space-between;
}

.footer__block-left {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.footer__block-left::before {
	content: '';
	position: absolute;
	top: 24px;
	right: 0;
	background-color: #fff;
	height: 235px;
	width: 1px;
}

.footer__paragraph {
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 25px;
}

.footer__contact {
	color: #fff;
	list-style: none;
	line-height: 2;
}

.footer__contact-item {
	font-size: 1.125em;
}

a.footer__tel {
	text-decoration: none;
	margin-right: 30px;
}

a.tel__one {
	margin-right: 37px;
}

a.footer__tel:hover {
	text-decoration: none;
}

a.email__link {
	text-decoration: none;
}

a.email__link:hover {
	text-decoration: none;
}

.block__confidentiality {
	display: flex;
	margin-top: 65px;
}

a.confidentiality__link {
	margin-right: 65px;
	text-decoration: none;
	position: relative;
}

a.confidentiality__link:hover {
	text-decoration: none;
}

a.confidentiality__link:last-child {
	margin-right: 0;
}

a.confidentiality__link:first-child::before {
    content: '';
    width: 1px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    right: -32px;
}

.footer__block-right{
    width: 42.98%;
    overflow: hidden;
}

.block__partners {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 74%;
}

.block__partners-left {
    width: 36.5%;
    margin-right: 27%;
}

.block__partners-foto {
	max-height: 20px;
	max-width: 131px;
}

.partners__logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.code {
	margin-bottom: 37px;
}

.code:last-child {
	margin-bottom: 0;
}

.drib {
	margin-bottom: 40px;
	margin-top: -4px;
}

.block__partners-right {
    width: 36.5%;
}

.footer__block-seti {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.footer__facebook-link {
    margin-right: 17px;
}

.arrow__top-link{
}

.copyright__block {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	position: relative;
	padding-top: 35px;
}

.copyright__block::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.copyright__text {
	font-size: 0.875em;
	color: #fff;
}

a.diex__link {
    text-decoration: none;
    font-size: 0.875em;
}

a.diex__link:hover {
    text-decoration: none;
}

/*Page Our Articles*/

.header__articles {
	overflow: hidden;
	background-color: #0C2758;
}

.articles__panel {
	background-color: #0C2758;
}

.header__article-bottom {
	overflow: hidden;
	margin-top: 114px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

a.article__bottom-link {
	text-decoration: none;
	font-size: 1.375em;
}

a.article__bottom-link:hover {
	text-decoration: none;
}

.article__bottom-item {
	color: #fff;
	font-size: 1.375em;
	position: relative;
	padding-left: 13px;
	margin-left: 13px;
}

.article__bottom-item::before {
    content: '';
    width: 2px;
    height: 19px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
    transform: rotate(20deg);
}

.main__article {
	overflow: hidden;
	padding: 140px 0 145px 0; 
}

.page-aricle {
	margin-top: 88px;
}

.page__article-product {
	margin-top: -33px;
}

.pagination {
	overflow: hidden;
	padding-bottom: 10px;
}

.spisok__pagination {
	display: flex;
	list-style: none;
	justify-content: center;
}

.pagination__item {
	font-size: 1.125em; 
	padding-top: 8px;
}

a.pagination__item-link {
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	color: #0C2758;
}

a.pagination__item-link:hover {
	text-decoration: none;
	color: #fff;
	background-color:#0C2758; 
}



@media (max-width: 1090px) {
	.menu__list-item {
		margin-right: 22px;
	}

	.block__language-call {
		margin-left: 45px;
	}

	.button__call-link {
		margin-left: 10px;
	}
}

@media (max-width: 990px) {


	.headhesive {
		padding: 12px 0 8px 0;
		background-color:  #0C2758;;
	}

.headhesive--stick {
        padding: 12px 0 8px 0;
}
	.header__top{
		padding-bottom: 10px;
	}

	.header__top-logo {
    flex-shrink: 0;
    height: 30px;
    width: 92px;
}

	.header__top-block {
		display: none;
	}

	.menu__icon {
       display: block;
    }

      .mobile__nav {
        display: block;
    }

    .block__language-call {
    	margin-left: 0;
    	margin-bottom: 38px;
    	justify-content: center;
    }

    .button__call-link {
    margin-left: 35px;
}

    .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list-item {
         margin-right: 0;
         margin-bottom: 40px;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu__list-item:last-child {
         margin-bottom: 0;
}

.menu__list-item::before {
	content: '';
	position: absolute;
	top: 38px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
}
}

@media (max-width: 890px) {

	.our__services {
		padding-bottom: 10px;
	}
	.block__services {
		display: none;
	}

	.services__mobile {
		display: block;
	}

	.block__services-mobile {
	display: block;
}

.sections {
	    width: 320px;
    height: 320px;
    background: white;
    margin-right: 20px;
    border-radius: 5px;
    padding-bottom: 35px;
}

.section__mobile {
	    text-align: center;
    padding-top: 35px;
    height: 295px;
}

.services__section-img {
    margin: 0 auto 5px auto;
    height: 60px;
    width: 60px;
}

}

@media (max-width: 768px) {
	.about__top {
    display: flex;
    flex-direction: column;
}

.about__top-foto {
    width: 100%;
    flex-shrink: 0;
}

.about__top-text {
    margin-top: 25px;
    width: 100%;
    overflow: hidden;
}

.br {
     padding-right: 0; 
}

.main__paragraph {
    margin-bottom: 17px;
}

.more {
    margin-top: 20px;
}

.about__company {
    padding: 70px 0 85px 0;
}

.about__company__block {
    display: flex;
    flex-direction: column;
}

.about__company-text {
	width: 100%;
	padding-top: 10px;
}

.iiko {
    margin-bottom: 10px;
}

.iiko-two {
    margin-bottom: 20px;
}

.about__company-paragraph {
	margin-bottom: 20px;
}

.about__company-slide {
	margin-top: 32px;
	width: 100%;
}

}

@media (max-width: 590px) {
	.header {
		padding-bottom: 190px;
	}

	.main__paragraph-white {
		font-size: 2em;
	}

	.our__services {
		padding-top: 40px;
	}

	.main__text-white {
		margin-top: 15px;
		line-height: 1.4;
	}

	.block__services-mobile {
		margin-top: 40px;
	}

	.slider__top-paragraph {
		font-size: 1.8125em;
	}

	.slider__top-text {
		font-size: 1.125em;
	}

	.header__center {
    margin-top: 10px;
}

.header__bottom {
	width: 100%;
}

	.block__brends {
    padding-left: 30px;
}

.about {
	padding-bottom: 80px;
}

.about__top {
    margin-bottom: 50px;
}


.about__bottom {
    display: flex;
    flex-wrap: wrap;
}

.about__bottom-numbers {
	width: 40%;
	margin-bottom: 20px;
}
.main__paragraph {
    font-size: 2em;
}

.sections {
	margin-right: 10px;
    margin-left: 10px;
}

.section__mobile {
	height: 250px
}

.about__company-paragraph {
	font-size: 2em;
}


}

@media (max-width: 425px) {

	.header {
		padding-bottom: 170px;
	}
    .header__bottom {
	height: 100px;
}

	.block__brends {
    margin-top: 30px;
}

.block__brends {
	padding-left: 0;
}

.brend__logo {
	margin:0 auto;
}

.about {
	margin-top: -15px;
	padding-bottom: 60px;
}

.about__bottom-numbers {
	padding:20px 0 20px 0;
}

.numbers__text {
	font-size: 0.875em;
}

.services__section-text {
	width: 90%;
}
}


@media (max-width: 375px) {
	.header {
		padding-bottom: 130px;
	}

	.about__bottom-numbers {
    width: 46%;
}
}


@media (max-width: 360px) {
	.button__call-link {
    margin-left: 0;
}
}

@media (max-width: 320px) {
	.main__paragraph {
    font-size: 1.9em;
}
}









































