@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev
{

    height: 68px;
    width: 70px;
    font-size: 0;

    position: absolute;
    top: 0;
    left: -70px;
    display: block;
    cursor: pointer;

    color: transparent;
    border:none;
    outline: none;
    background: none;
    z-index: 3;
    opacity: 1;
    
    background-color: #364274;;

    background-image: url(../images/arrow-prev.svg);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     transition: 0.3s;
}


.slick-next {
    height: 68px;
    width: 70px;
    font-size: 0;
    position: absolute;
    bottom: -47px;
    left: -70px;
    display: block;
    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: none;
    z-index: 3;
    opacity: 1;

    background-color: #364274;;

    background-image: url(../images/arrow-next.svg);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    top: 30%;
    right: 0;

    display: block;

    width: 20px;
    padding: 0;
    margin: 0;

    list-style: none;

}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 0 24px 12px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    content: '•';
    text-align: center;

    opacity: .4;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #fff;
}
